//- default
mixin videoBlock(video={})
    .videoBlock
        video.videoBlock__Thumbnail(src=video.videoFile,poster=video.poster, controls=true)
        h4.videoBlock__title=video.title
        h6.videoBlock__views=video.views
